.countHandler input{
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.checkout button {
    margin: 20px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bolder;
}
img{
    width: 190px;
    height: 190px;
    border-radius: 8px;
    margin-left: 10px;
}
.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.cartItem{
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    margin: 30px;
    border-radius: 30px;
}




.cartItem .description{
    font-size: 30px;
    width: 100%;
    
}
.countHandler input{
    width: 40px;
    text-align: center;
    font-weight: bolder;
}



#cartTitle{
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.addToCartButtonCart-item{
background-color: transparent;
border: 2px solid rgb(0, 0, 0);
width: 60px;
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 15px;
font-size: 15px;
}

.addToCartButtonCart-item:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}
.addToCartButtonCart-item:active{
    font-size: 13px;
}
.inputCartItem{
   border: 20px; 
   font-size: 22px;
}