.countHandler input{
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.checkout button {
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    font-weight: bolder;
}
img{
    width: 190px;
    height: 190px;
    border-radius: 8px;
    margin-left: 10px;
}
.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.cartItem{
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    margin: 30px;
    border-radius: 30px;
}




.cartItem .description{
    font-size: 30px;
    width: 100%;
    
}
.countHandler input{
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.checkout button {
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    
}

.addToCartButton{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;

}
#cartTitle{
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
