.shopTitle{
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  color: rgb(255, 255, 255);
  padding: 50px;
  font-family: Georgia, 'Times New Roman',;
}

.teosTechShop{
   color: rgb(255, 255, 255);
    font-size: 3rem;
    border: 0px ;
    border-radius: 80%;
    font-family: 'Georgia' , serif;
}

.products {
  width: 100%;
  display: inline-grid;
  height: auto; 
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  
}

.product{
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.product .description {
   
    text-align: center;
    
}

.product:hover{
    transition: 0.3s ease-in;
    cursor: pointer;
}

.addToCartButton{
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    font-size: 15px;
    
}

.addToCartButton:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}



.addToCartButton:active{
    font-size: 0.9rem;
}

body{
    background-color: #ffffff;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-image: url(/bgImg.png); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    
    
    
}
    

